@using PetStore.Web.Models.Pets


@model AllPetsViewModel

    <link rel="stylesheet bootstrap"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css " />
    
    

    <div>
        <div class="jumbotron text-white jumbotron-image shadow" style="background-image: url(https://image.shutterstock.com/image-vector/people-buying-pets-pet-store-600w-1090121084.jpg);
             background-size: cover;">
            <h2 class="mb-4">
                Welcome to our pet store!
            </h2>
            <p class="mb-4">
                Check our catalog of animals, foods and toys! :))
            </p>
        </div>
    </div>



<h1>All</h1>

<div >
    <a href="/Pets/All?page=@Model.PreviousPage" class="float-left btn btn-info @(Model.PreviousDisabled ? "disabled" : string.Empty)">Prev</a>
    <a href="/Pets/All?page=@Model.NextPage" class="float-right btn btn-info@(Model.NextDisabled ? "disabled" : string.Empty)">Next</a>
</div>

<br />
<br />

<table class="table table-bordered table-striped">
    <tr>
        <th>
            Type
        </th>
        <th>
            Breed
        </th>
        <th>
            Price
        </th>
    </tr>
</table>

@foreach (var pet in Model.Pets)
{
    <tr>
        <td>
            @pet.Category
        </td>
        <td>
            @pet.Breed
        </td>
        <td>
            $@pet.Price
        </td>
        <td>
            <a href = "/Pets/Delete/@pet.Id" class ="btn btn-danger btn-small">Delete</a>
        </td>
    </tr>
}

<h2>Hello from pets!</h2>

