@model PetStore.Services.Models.Pets.PetDetailsServiceModel

<h1>Are you sure you want to delete the following pet?</h1>


<div>
    <p>@Model.Id</p>
</div>
<div>
    <p>@Model.Breed</p>
</div>
<div>
    <p>@Model.Price</p>
</div>

 
<div>
    <a href="/Pets/All" class="btn btn-info">No</a>
</div>
<div>
    <a href="/Pets/ConfirmDelete/@Model.Id" class="btn btn-danger">Yes</a>
</div>
